html,
body,
.container {
  height: 100%;
  min-height: 100%;
  margin: 0px;
}

.first {
  float: left;
  width: 20%;
  height: 30%;
  background-color: red;
}

.second {
  float: left;
  width: 20%;
  height: 70%;
  background-color: green;
}

.third {
  float: right;
  width: 80%;
  height: 80%;
  background-color: blue;
}

.fourth {
  float: right;
  width: 40%;
  height: 20%;
  background-color: #DDDDDD;
}

.last {
  float: right;
  width: 40%;
  height: 20%;
  background-color: yellow;
}
